.chart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgb(17, 231, 6);
    background: #dbdada;
    animation: fadeIn 0.5s ease;
}